zap-lotta-cards {
  font-family: Arial;
  margin: 20px;

  a {
    text-decoration: none;
  }
  h1 {
    margin-left: 10px;
  }
  h2 {
    margin-top: 0;
  }

  .card-set {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  }
  @media (max-width: 2000px) {
    .card-set {
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
  }
  @media (max-width: 1660px) {
    .card-set {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
  @media (max-width: 1300px) {
    .card-set {
      grid-template-columns: 33% 33% 33%;
    }
  }
  @media (max-width: 980px) {
    .card-set {
      grid-template-columns: 50% 50%;
    }
  }
  @media (max-width: 660px) {
    .card-set {
      grid-template-columns: 100%;
    }
  }
}


